{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ title }} – {{ block.super }}
{% endblock %}

{% block heading %}
    <div class="container">
        <div class="row my-5 justify-content-center">
            <h1 class="heading">Login</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container box-element mb-5">
    <form method="POST" action="">
        {% csrf_token %}
        {{form|crispy}}
        <div class="d-none d-md-flex justify-content-center">
             <div class="btn-toolbar my-3">
                <div class="mr-md-2"><a role="button" class="btn btn-change" href="{% url 'register' %}">Register</a></div>
                <div class="ml-md-2"><button type="submit" class="btn btn-change">Login</button></div>
             </div>
        </div>
        <div class="d-block d-md-none">
            <a role="button" class="btn btn-change w-100 mt-3 mb-3" href="{% url 'register' %}">Register</a>
            <button type="submit" class="btn btn-change w-100 mb-3">Login</button>
        </div>
    </form>
</div>
{% endblock %}